<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">About the creator</h1>
          <p>This webpage has been developed by Gabriel Batizy for class CS3300, section 002. I am a junior at UCCS majoring in DASE.</p>
          <p>The function of this site is to act as a portfolio to display work.</p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <% @projects.each do |project| %>
            <div class="col-md-4">
              <h2><%= project.title %></h2>
              <p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;">
                <%= project.description %>
              </p>
              <td><%= link_to 'Show', project %></td>
              <% if user_signed_in? %>
                | <td><%= link_to 'Edit', edit_project_path(project) %></td> |
                <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </div>
          <% end %>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
